body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(./wallpapersden.com_apple-store-pride-logo_6016x3384.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  header {
    background-color: #fafafa94;
    color: #0e0101;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
  }
  header h1{
    font-size: 16px;
    margin-right: 10px;
    color: aquamarine;
  }
  .container{
    display: flex;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  header  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #140202;
    font-weight: bold;
  }
  
  .main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
  }
  #bod{
    height: 80vh;
  }
  
  footer {
    background-color: #fafafa94;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 60%;
    margin: 0 20%;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    position: absolute;
    bottom: 0;

  }
  footer nav{
    margin: 0 auto;
    display:flex;
  }
  footer ul li{
    background-color: aqua;
    width: 60px;
    height: 60px;
    border-radius: 20%;
    margin-left: 30px;
  }
  footer nav ul li img{
    max-width: 100%;
  }
  footer nav ul li a{
    margin-left: 20px;


  }